body {
  padding: rem(8) !important;
  box-sizing: border-box;
  min-height: 100vh;
}

.mantine {
  &-Paper-root {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: rem(8);
  }
}
