.filtersGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }

  & > * {
    width: 100%;
  }
}
